.header {

	li {
		display: inline-block;
	}

	a {
		text-decoration: none;
		font-size: 14px;
		padding: 10px;
		letter-spacing: 1.1px;
		display: block;
	}

	&__utility {
		background-color: $color-3;

		.menu {
			ul {
				color: $white;
				display: flex;
				justify-content: flex-end;

				li {
					a {
						color: $white; 

						&:hover {
							color: $color-2;
						}
					}
				}

				i {
					font-size: 16px;
				}
			}
		}
	}

	&__hero {
		text-align: center;
		padding: 40px 0;

		h1 {
			font-size: 30px;
			color: $color-3;
		}

		h3 {
			font-size: 20px;
			color: $color-2;
		}
	}

	&__nav {
		background-color: $color-2;

		ul {
			display: flex;
			justify-content: center;
		}

		a {
			color: $white;
			text-transform: uppercase;

			&:hover {
				color: $color-3;
			}
		}
	}

	
}

.site-footer {
	background: url('../images/bg.jpg') no-repeat center center fixed;
	background-size: cover;
	
	.site-info {

		padding: 60px 0;
	}
}